__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
alembic/ # A veces es mejor no llevar las migraciones si se corren localmente, pero suele incluirse.
tests/
